# arquivo de configuracoes
[Geral]
dataset_path=[substituir pelo caminho onde fez download do dataset, exemplo: /temp/dataset]
animal=[substituir pelo nome do animal que irá processar, exemplo: Cx1Ima2]
dicom_folder=dicom
csv_folder=csv
region_folder=region
jpg_folder=jpg